streamlit
langchain
langchain-postgres
langchain-aws
langchain-community
langchain-core
PyPDF2
python-dotenv
altair
urllib3
boto3
awscli
botocore
anthropic
psycopg[binary]
pgvector
Pillow
typing-extensions
