POSTGRESQL_ENDPOINT="auroraml-bedrock-1.cluster-XXXXXX.us-east-1.rds.amazonaws.com"
POSTGRESQL_PORT="5432"
POSTGRESQL_USER="<username>"
POSTGRESQL_PW="<password>"
POSTGRESQL_DBNAME="<dbname>"
REGION=<aws-region-id>
SOURCE_S3_BUCKET="<knowledge-dataset-bucket-name>"