setuptools==65.5.0
langchain==0.3.14
langchain-community==0.3.14
langchain-postgres==0.0.12
langchain-core==0.3.30
python-dotenv
jupyter==1.1.1
psycopg==3.2.4
psycopg-binary==3.2.4
pgvector==0.2.5
huggingface-hub==0.25.0
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2
torch==2.0.1
