streamlit==1.38.0
langchain==0.3.27
langchain-postgres==0.0.15
langchain-aws==0.2.31
langchain-community==0.3.29
langchain-core==0.3.75
PyPDF2==3.0.1
python-dotenv==1.1.1
altair==5.4.1
urllib3==2.5.0
boto3==1.40.21
awscli==1.42.21
botocore==1.40.21
anthropic==0.64.0
psycopg[binary]==3.2.9
pgvector==0.3.6
Pillow==10.4.0
typing-extensions==4.12.2
numpy==1.26.4
pyarrow==14.0.2
cachetools==5.5.0
packaging==24.2
protobuf==5.29.2
tenacity==8.5.0
watchdog==4.0.2
gitpython==3.1.43
